body {
    background: rgb(83,194,195);
    background: linear-gradient(123deg, rgba(83,194,195,1) 0%, rgba(127,214,104,1) 34%, rgba(144,196,53,1) 50%, rgba(255,174,0,1) 100%);
}
.navbar{
 font-size: 25px;

}